/index
/alke-wallet-main
/example
git-notes.txtq
._.gitignore 
._deposit.html 
._example 
._index.html 
._login.html 
._menu.html 
._README.md 
._sendmoney.html 
._transactions.html
/assets/._.DS_Store
/assets/css/._styles.css
/assets/img/.DS_Store
/assets/js/._script.js